#############################################
# Python
#############################################

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

#############################################
# Environment Variables
#############################################

.env

#############################################
# Node.js
#############################################

node_modules/

#############################################
# Build Files
#############################################

dist/
build/

#############################################
# Logs
#############################################

*.log

#############################################
# Operating System
#############################################

.DS_Store
Thumbs.db

#############################################
# VS Code
#############################################

.vscode/

#############################################
# JetBrains IDE
#############################################

.idea/

#############################################
# Miscellaneous
#############################################

*.sqlite3
.coverage
.pytest_cache/